django
djangorestframework
markdown
django-filter
pyyaml
requests
Django-cors-headers
pillow
pandas
langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-chroma
langgraph 
python-dotenv
redis
celery
flower
django-celery-results
django-celery-beat
django-silk
django-extensions
pydotplus
pygraphviz